<p>
  criar works!
</p>




<form #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="CriaProduto()">

<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <img class="card-img-top img-thumbnail" src={{produto?.imagemURL}} alt="{{produto?.imagemURL}}">
      <div class="card-body">
        <div>
          <strong>Nome Produto:</strong>
          <input class="form-control mr-sm-2" type="text" name="nomeProduto" required [(ngModel)]="produto.nomeProduto" #nomeProduto="ngModel">  
        </div>
        <div>
          <strong>Valor Venda:</strong>
          <input class="form-control mr-sm-2" type="number" name="valorVenda"  required [(ngModel)]="produto.valorVenda" #valorVenda="ngModel">          
        </div>
        <div>
          <strong>URL Imagem:</strong>
          <input class="form-control mr-sm-2" type="text" name="imagemURL"  required [(ngModel)]="produto.imagemURL" #imagemURL="ngModel">
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100" [disabled]="!loginForm.valid" type="submit">Salvar</button>
            <button class="btn btn-success w-100" [routerLink]="['/listar/']">Voltar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8"></div>
  </div>
</div>

</form> 